@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: 'Public Sans', sans-serif;

    --color-default: #020617; /* Blue-800 */
    --color-border: #1D283C;
    --color-test: #8FA1B9; /* Gray-500 */
}

html {
    scroll-behavior: smooth;
    background-color: #020617;
}

@layer base {
    :root {
        --title-fill: #000000; /* mode light */
        --title-empty: rgba(0,0,0,0.2);

        --desc-fill: oklch(55.4% 0.046 257.417);
        --desc-empty: oklch(86.9% 0.022 252.894);
    }

    .dark {
        --title-fill: #ffffff; /* mode dark */
        --title-empty: oklch(55.4% 0.046 257.417);

        --desc-fill: oklch(55.4% 0.046 257.417);
        --desc-empty: oklch(20.8% 0.042 265.755);
    }
}